<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Usuarios</title>
</head>
<body>
	<form action="#" th:action="@{/usuarios}" th:object="${usuario}" method="post">
		<label>Nome: </label>
		<input type="text" th:field="*{nome}"/>
		<label>Email: </label>
		<input type="text" th:field="*{email}"/>
		<label>Perfil: </label>
		<input type="text" th:field="*{perfil.id}"/>
		<input type="submit" value="salva"/>
	</form>
	
	<table border="1">
		<tr>
			<th>Nome</th>
			<th>Email</th>
		</tr>
		<tr th:each="usuarios : ${userList}">
			<td th:text="${usuarios.nome}"></td>
			<td th:text="${usuarios.email}"></td>
		</tr>
	</table>

</body>
</html>